.homePage {
  background-image: url(../assets/Images/headerbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
}
.HomefancySpan {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
