.fancySpan {
  border-radius: 43% 57% 81% 19% / 80% 55% 45% 20%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.child-div {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.mainHeading {
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}
.signUpForm input {
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
  border: none;
  outline: none;
  font-size: 20px;
}
.signUpForm input:focus {
  border: none;
  outline: none;
}
.inputFieldwrap {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #b7adad;
  padding-bottom: 5px;
}
.btn {
  padding: 12px 20px;
  transition: all 0.4s ease-in-out;
}
